// header

header {
  background: url("../resources/images/banner.jpg") no-repeat center;
  width: 100%;
  background-size: cover;
}

#banner {
  height: 450px;
}

#banner h1 {
  letter-spacing: 1rem;
}
