$borderColor: rgb(182, 182, 182);
$actBtnColor: rgb(220, 220, 220);

.filters button,
.tagList button {
  border: 0.8px solid $borderColor;
  border-radius: 3px;
  padding: 0.2rem 0.4rem;
  margin: 7px 5px;
}

.outline {
  outline: 15px solid rgba(180, 180, 180, 0.17);
  outline-offset: 0px;
}

#act-filter-btns button {
  background-color: $actBtnColor;
}
