$darkerGreen: rgb(45, 54, 44);
$darkGreen: rgb(53, 66, 52);
$btnDarkGreen: rgb(76, 94, 74);
$lightGreen: rgb(204, 229, 200);
$lightGreenHover: rgb(150, 210, 150);
$wine: rgb(85, 12, 12);
$wineHover: rgb(176, 65, 65);

// font
@font-face {
  font-family: "Epilogue";
  src: url("./resources/fonts/Epilogue-VariableFont_wght.ttf") format("ttf");
}

body {
  font-family: "Epilogue", sans-serif;
  color: $darkerGreen;
  background-color: rgb(254, 252, 251);
}

// colors
.c-text-dark-green {
  color: $darkGreen;
}

.c-bg-dark-green,
.btn-dark-green:hover {
  background-color: $darkGreen;
}

.btn-dark-green {
  background-color: $btnDarkGreen;
}

.c-green-hover:hover {
  color: $lightGreenHover;
}
.c-green,
.c-green-hover,
.c-green-hover:visited {
  color: $lightGreen;
}

.c-bg-beige {
  background-color: beige !important;
}

.c-text-wine {
  color: $wine;
}

.c-text-wine:hover {
  color: $wineHover;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.c-large-mb {
  margin-bottom: 3rem;
}

// navbar

.navbar {
  background-color: $darkerGreen;
  opacity: 0.93;
}

#logo {
  max-width: 100%;
  max-height: 40px;
}
